{% extends 'base.html' %}
{% load static %}
    {% block nav %}
        {% if user.is_authenticated%}
            {% include 'profilenavbar.html' %}
        {% else %}
            {% include 'navbar.html' %}
        {% endif %}
    {% endblock %}
    {% block content %}
    <h1 class="text-xl text-center font-bold text-gray-800">Update Profile</h1>
    {% if messages %}
        {% for message in messages %}
            {% if user.is_authenticated %}
                <div class="msg">
                    <div role="alert" id="alert" class="alert alert-success bg-green-600 bg-opacity-30 mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" id="closebtn" class="stroke-current shrink-0 h-10 w-10" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                        <span>{{message}}</span>
                    </div>
                </div>
            {% else%}
                <div class="msg">
                    <div role="alert" id="alerterror" class="alert alert-error bg-red-600 bg-opacity-30 mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" id="closebtnerror" class="stroke-current shrink-0 h-10 w-10" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                        <span>{{message}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br><br><br>
            <div class="flex w-full items-center justify-center">
                <div class="container w-full px-4">
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full lg:w-6/12 px-4">
                            <div class=" flex flex-col min-w-0 break-words w-full shadow-lg rounded-lg bg-white">
                                <div class="flex-auto p-5 lg:p-10">
                                    <h4 class="text-2xl mb-4 text-gray-700 text-center font-semibold">SignUp</h4>
                                    <form id="feedbackForm" action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div>
                                            <label for="{{ form.first_name.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ form.first_name.label }}</label>
                                            {{ form.first_name }}
                                        </div>
                                        <div>
                                            <label for="{{ form.last_name.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ form.last_name.label }}</label>
                                            {{ form.last_name }}
                                        </div>
                                        <div>
                                            <label for="{{ form.username.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ form.username.label }}</label>
                                            {{ form.username }}
                                        </div>
                                        <div>
                                            <label for="{{ form.email.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ form.email.label }}</label>
                                            {{ form.email }}
                                        </div>
                                        <div>
                                            <label for="{{ form.password1.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ form.password1.label }}</label>
                                            {{ form.password1 }}
                                        </div>
                                        <div>
                                            <label for="{{ form.password2.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ form.password2.label }}</label>
                                            {{ form.password2 }}
                                        </div>
                                        <div>
                                            <label for="{{ profileForm.profile_image.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ profileForm.Profileimage.label }}</label>
                                            <label id="feedbackBtn" class="mb-2 cursor-pointer hover:opacity-80 inline-flex items-center shadow-md px-3 py-3 text-white bg-gray-900 border border-transparent
                                                rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-800 "
                                                type="submit" style="transition: all 0.15s ease 0s;">No image selected
                                                <label class="">{{ profileForm.Profileimage }}</label>
                                            </label>
                                        </div>
                                        <div>
                                            <label for="{{ profileForm.bio.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ profileForm.bio.label }}</label>
                                            {{ profileForm.bio }}
                                        </div>
                                        <div>
                                            <label for="{{ profileForm.homepage_link.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ profileForm.homepage_link.label }}</label>
                                            {{ profileForm.homepage_link }}
                                        </div>
                                        <div>
                                            <label for="{{ profileForm.github_link.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ profileForm.github_link.label }}</label>
                                            {{ profileForm.github_link }}
                                        </div>
                                        <div>
                                            <label for="{{ profileForm.twitter_link.id_for_label }}" class="block uppercase text-gray-700 text-xs font-bold mb-2">{{ profileForm.twitter_link.label }}</label>
                                            {{ profileForm.twitter_link }}
                                        </div>
                                        <div class="text-center mt-6">
                                            <button id="feedbackBtn" class="cursor-pointer hover:opacity-80 inline-flex items-center shadow-md my-2 px-6 py-3 text-white bg-gray-900 border border-transparent
                                                rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-800 mr-1 mb-1"
                                                type="submit" style="transition: all 0.15s ease 0s;">Update Profile
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script>
            let erroralertbtn= document.getElementById('closebtn');
            let alert= document.getElementById('alert');
            const erroralertbtnt= document.getElementById('closebtnerror');
            const alertt= document.getElementById('alerterror');
            
            if (erroralertbtn != null){
                erroralertbtn.addEventListener('click', () => {
                    if(alert.classList.contains('hidden')){
                        alert.classList.remove('hidden');
                    }else{
                        alert.classList.add('hidden');
                    }
                });
            }
            if (erroralertbtnt != null){
                erroralertbtnt.addEventListener('click', () => {
                    if(alertt.classList.contains('hidden')){
                        alertt.classList.remove('hidden');
                    }else{
                        alertt.classList.add('hidden');
                    }
                });
            }
        </script>
    {% endblock %}